<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>

    .btn {
      border: 2px solid #e0e0e0;
      padding: 15px;
      border-radius: 40px;
}

    .fondo{
      background: url('../assets/Fondo-home.png') !important;
      background-size:cover;
      height: 100% !important;
      width: 100% !important;
      background-position: center center;
      background-repeat: no-repeat !important; 
      

     
      }
      .fondo2{
      background: url('../assets/fondo2.png') !important;
      background-size:cover;
      width: 100% !important;
      height: 100% !;
      background-position: center center;
      background-repeat: no-repeat !important; 
      }

    
      .fondo3{
      background: url('../assets/fondo3.png') !important;
      background-size:cover;
      width: 100% !important;
      height: 100% !;
      background-position: center center;
      background-repeat: no-repeat !important; 
      }
      
      
      
    /* Steps */
    .step {
      list-style: none;
      margin: 0;
    }
    .step2 {
      list-style: none;
      margin: 0;
    }
    .step3 {
      list-style: none;
      margin: 0;
    }

    .step-element {
      display: flex;
      padding: 2rem 0;
    }
    .step-element2 {
      display: flex;
      padding: 2rem 0;
    }
    .step-element3 {
      display: flex;
      padding: 2rem 0;
    }

    .step-number {
      position: relative;
      width: 7rem;
      flex-shrink: 0;
      text-align: center;
    }
    .step-number2 {
      position: relative;
      width: 7rem;
      flex-shrink: 0;
      text-align: center;
    }
    .step-number3 {
      position: relative;
      width: 7rem;
      flex-shrink: 0;
      text-align: center;
    }

    .step-number .number {
      color:white;
      background-color:#739FFD;
      font-size: 1.5rem;
    }

    .step-number2 .number {
      color:white;
      background-color:#00DCD7;
      font-size: 1.5rem;
    }
    .step-number3 .number {
      color:white;
      background-color:#00D397;
      font-size: 1.5rem;
    }

    .step-number .number {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
    .step-number2 .number {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
    .step-number3 .number {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }

    .number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      border-radius: 15rem;
    }

    .step-number::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 48px;
      bottom: -2rem;
      margin-left: -1px;
      /* border-left: 2px dashed #eaeff4; */
    }

    .step .step-element:last-child .step-number::before {
      bottom: 1rem;
    }

    .letra1{
      color: #739FFD;
      padding: 1rem;
    }
    .letra2{
      color: #00DCD7;
      padding: 1rem;
    }
    .letra3{
      color: #00D397;
      padding: 1rem;
      
    }
    .imagenderecha{
      padding: 1rem;
      align-items: center;
    }
 
  </style>

<div class="container-fluid ">
<div class="row fondo">
  <div class="col-sm">
    
    <section >
         
      <br>
      <br>
             
       <form class="">
   
         <div class="row">

          <div class="col-7">

          </div>
           
           <div class="col-4">
             <!-- Material form login -->
             <div class="card">
   
               <!--Card content-->
               <div class="card-body z-depth-1-half">
   
                 <!-- Form -->
                 <form class="text-center" style="color: #757575;" action="#!">

                   <section>
   
                   <h3 style="color: #739FFD;" class="font-weight-bold my-4 pb-2 text-center">¿Cuánto necesito?</h3>

                   

                   <form>
                    <div class="form-group">
                      <h6 style="color: #939393;" class="font-weight-bold my-4 pb-2 text-center">Monto</h6>
                      <input type="range" class="form-control-range" id="myRange" min="100" max="100000" value="10000" name="myRange" step="100">
                    </div>
                  </form>

                   <input type="text" id="Montocapturado" for="myRange" style="border: 0; text-align: center;" class="monto col-lg-4" placeholder="$">

                  <form>
                    <div class="form-group">
                      <h6 style="color: #939393;" class="font-weight-bold my-4 pb-2 text-center">Plazo</h6>
                      <input type="range" class="form-control-range" id="RangeMes" min="6" max="24" value="6" name="RangeMes" step="6">
                    </div>
                  </form>

                   <input type="text" id="mescapturado" for="RangeMes" style="border: 0; text-align: center;" class="mes col-lg-4" placeholder="Meses">
                 
                 </section>

                   <br>
                   <br>
                   
               <div class="row center"> 


                 <div class="col-md-6 mb-1">
                 <div class="md-form">
                     <!-- calculo -->
                     <h6 style="color: #939393;" class="active font-weight-bold">Mensualidad</h6>
                    <input for="RangeMes" type="text" id="calculo" class="form-control" placeholder="$" disabled value="">
                         
                 </div>
               </div>
               
               <div class="col-md-6 mb-2">
                 <div class="md-form">

                   <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>¡Lo quiero!</button>
                   
                 </div>
               </div>

              <div class="col">
              <label class="text-center" for="" style="color: #939393; font-size: 10px;" > La tasa varia desde el 17% hasta el 70% anual dependiendo tu perfil crediticio</label>
            </div> 
            
            </div>  
                   
                         
                 </form>
                 <!-- Form -->
   
               </div>
   
             </div>
             <!-- Material form login -->
           </div>
         </div>
   
       </form>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
                  
   
     </section>
     <!--Section: Content-->
    
  </div>
  <br>
  <br>
  <br>
</div><!--Final del formulario-->


  <div class="col-md">
    <section>
      <br>
      <br>
      <h3 class="font-weight-bold text-center blue-text pb-2">¿Qué debes hacer?</h3>
      <br>
      <br>
      
      <div class="row">

        <div class="col-1">

        </div>
  
        <div class="col-md-5 mx-auto">
  
          <ol class="step pl-0 float-right">
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number">1</span>
              </div>
              <div class="step-excerpt">
                <h5 class="letra1 font-weight-bold mb-4">Regístrate en nuestra plataforma</h5>
                
              </div>
              
            </li>
         
            <li class="step-element pb-0">
              <div class="step-number2">
                <span class="number">2</span>
              </div>
              <div class="step-excerpt">
                <h5 class="letra2 font-weight-bold  mb-3">Completa tu solicitud</h5>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number3">
                <span class="number">3</span>
              </div>
              <div class="step-excerpt">
                <h5 class="letra3 font-weight-bold mb-3">¡El préstamo es tuyo!</h5>
              </div>

            </li>
          </ol>
          <br>
          <br>
        </div>

        <div class="col-md-1">


        </div>
                  <!--Aqui son las img-->
        <div class="col-md-5 float-right">
          <div class="col">
            <img class="imagenderecha" src='../assets/compu.png'>
          </div>
          <div class="col">
            <img class="imagenderecha" src='../assets/pluma.png'>
          </div>
          <div class="col">
            <img class="imagenderecha" src='../assets/mano.png'>
          </div>
          
  
        </div>

        <div class="mx-auto">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect style="background-color: #00DCD7; color: white;">Solicitar ahora</button>
        </div>
  
      </div>
      
    </section>
    <!-- Section -->
    
    <!--Steps-->
  </div> <!--final de los pasos-->
  <br>
  <br>
  <br>

  <div class="col-lg-12 fondo2">
    
   <section >
          <br>
          <br>
          <br>
        <h3 class="font-weight-bold text-center blue-text pb-2">Quiero Invertir</h3>
          <br>
          <br>
          <br>
          <br>
          
      <div class="row">

            <div class="col-2">

            </div>
          <div class="card col-3">
              <!--Card content-->
              <div class="card-body z-depth-2-half">
  
                <!-- Form -->
                <form class="text-center" style="color: #757575;">

                  <h4 style="color: #739FFD;" class="font-weight-bold my-4 pb-2 text-center">Simulador de Inversión</h4>
                  

                  <form>
                    <div class="form-group">
                      <h6 style="color: #939393;" class="font-weight-bold my-4 pb-2 text-center">Importe</h6>
                      <input type="range" class="form-control-range" id="formControlRange">
                      <label for="" style="color: #939393; font-size: 10px;" class="font-weight-bold my-4 pb-2 text-center">Rendimiento</label>
                      
                    </div>
                  </form>
                 

                  <section>
                      
                    <canvas mdbChart
                      [chartType]="chartType"
                      [datasets]="chartDatasets"
                      [labels]="chartLabels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>

                    <label for="" style="color: #939393; font-size: 10px;" class="font-weight-bold my-4 pb-2 text-center">Meses</label>
                
                    </section>

                  <br>
                  <br>        
                </form>
                <!-- Form -->
            </div>
        </div>

        <div class="col-1"></div>



        <div class="col-6">
          <label for="" style="color: #05454C;">Ucash te permite realizar inversiones</label>
          <br>
          <label for="" style="color: #05454C;">desde $100 a plazos desde 6 meses con </label>
          <br>
          <label for="" style="color: #05454C;">una tasa de rendimiento muy atractiva </label>
          <br>
          <label for="" style="color: #05454C;">y de manera confiable.</label>
          <br>
          <h3 style="color: #05454C;">¡Regístrate y comienza a generar ganancias!</h3>
          <br>
          <br>
          <div class=" float-center">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect style="background-color: #00DCD7; color: white; align-items: center;" >¡Lo quiero!</button>
          </div>
          

        </div>


            <!-- Material form login -->
      </div>




        <div class="col-6">

        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </section>
  </div><!--final de inversion-->



  <div class="col-md"><!--como invertir-->
    <section>
      <br>
      <br>
      <h3 class="font-weight-bold text-center pb-2" style="color: #739FFD;">¿Cómo Invertir?</h3>
      <br>
      <br>
      
      <div class="row">

        <div class="col-1">

        </div>
  
        <div class="col-md-5 mx-auto">
  
          <ol class="step pl-0 float-right">
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number">1</span>
              </div>
              <div class="step-excerpt">
                <h6 class="letra1 font-weight-bold mb-4">Usa nuestra calculadora de inversión para estimar tus ganancias y regístrate en nuestra plataforma.</h6>
                
              </div>
              
            </li>
         
            <li class="step-element pb-0">
              <div class="step-number2">
                <span class="number">2</span>
              </div>
              <div class="step-excerpt">
                <h6 class="letra2 font-weight-bold  mb-3">En el menú da click en Invertir, completa los datos que se requieren y acepta nuestros términos y condiciones.</h6>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number3">
                <span class="number">3</span>
              </div>
              <div class="step-excerpt">
                <h6 class="letra3 font-weight-bold mb-3">Transfiere la cantidad de dinero que deseas invertir y ¡ve crecer tu dinero! Lo podrás retirar despues de 6 meses de inversión.</h6>
              </div>

            </li>
          </ol>
          <br>
          <br>
        </div>

        <div class="col-md-1">


        </div>
                  <!--Aqui son las img-->
        <div class="col-md-5 float-right">
          <div class="col">
            <img class="imagenderecha" src='../assets/calculadora.png'>
          </div>
          <div class="col">
            <img class="imagenderecha" src='../assets/form.png'>
          </div>
          <div class="col">
            <img class="imagenderecha" src='../assets/ganancias.png'>
          </div>
          
  
        </div>
  
      </div>
      
    </section>
    <!-- Section -->
    
    <!--Steps-->
  </div> <!--final como invertir-->
  

    <div class=""><!--Testimonios-->





      


  <!--Section: Content-->
  <section class="text-center dark-grey-text fondo3">
    <br>
 



    <!-- Section heading -->

    <!-- Grid row -->
<!-- Section: Testimonials v.4 -->
<section class="container text-center my-5 mt-5">
  <!-- Section heading -->
  <h2 class="font-weight-bold mb-4 pb-2" style="color: #00D397;">Testimonios</h2>
  <!-- Grid row -->
  <div class="row">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation testimonial-carousel" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <!--First slide-->
      <mdb-slide>
        <!--Grid column-->
        <div class="col-md-4">
          <div class=" card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Anna Deynah</h4>
            <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quod eos
              id officiis hic tenetur.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'"   *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">John Doe</h4>
            <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis
              laboriosam.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Abbey Clark</h4>
            <h6 class="blue-text font-weight-bold my-3">Photographer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="fas fa-quote-left pr-2"></mdb-icon>Quis autem vel eum iure reprehenderit qui in ea voluptate
              velit esse
              quam nihil molestiae.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="i == 4 ? 'star-o' : 'star' " *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div class="col-md-4">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Blake Dabney</h4>
            <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-elft" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis
              laboriosam.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'"   *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Andrea Clay</h4>
            <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quod eos
              id officiis hic tenetur
              quae.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Cami Gosse</h4>
            <h6 class="blue-text font-weight-bold my-3">Phtographer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero eos et accusamus et iusto odio dignissimos ducimus
              qui
              blanditiis praesentium.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <!--Grid column-->
        <div class="col-md-4">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Bobby Haley</h4>
            <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quod eos
              id officiis hic tenetur
              quae.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Elisa Janson</h4>
            <h6 class="blue-text font-weight-bold my-3">Marketer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero eos et accusamus et iusto odio dignissimos ducimus
              qui
              blanditiis praesentium.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="star == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">Rob Jacobs</h4>
            <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis
              laboriosam.</p>
            <!--Review-->
            <div class="grey-text">
              <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Testimonials v.4 -->
    <!-- Grid row -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="row"> <!--Ultimas imagenes-->
      <div class="col-3">

        <br>
        <br>
        <br>
        <br>
        <img class="imagenderecha" src='../assets/manos.png'>
        <br>
        <b><label for="" style="color: #05454C;">Plataforma confiable</label></b> 
      </div>
      <div class="col-3">
        <br>
        <br>
        <br>
        <img class="imagenderecha" src='../assets/notas.png'>
        <br>
        <b><label for="" style="color: #05454C;">Solicitud rápida y sencilla</label></b> 
      </div>
      <div class="col-3">
        <br>
        <br>
        <br>
        
        <img class="imagenderecha" src='../assets/tasabajo.png'>
        <br>
        <b><label for="" style="color: #05454C;">Tasa de interés baja</label></b> 
      </div>
      <div class="col-3">
        <br>
        <br>
        <br>
        <img class="imagenderecha" src='../assets/reloj.png'>
        <br>
        <b><label for="" style="color: #05454C;">Aprobación en menos de 24 horas</label></b> 
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
  </section>
  <!--Section: Content-->





  
</div><!--final testimonios-->


</div><!--Final Div Principal-->