<!--Main Navigation-->
<header>

  </header>
  <!--Main Navigation-->
  <!--Main Layout-->
  <main>

    <div class="container">

      <!--Section: Team v.1-->
      <section class="text-center team-section">

        <!--Grid row-->
        <div class="row text-center">

          <!--Grid column-->
          <div class="col-md-12 mb-4">

            <div style="z-index: 2; top: -70px" class="avatar mx-auto col-md-2">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="img-fluid rounded-circle z-depth-1" alt="First sample avatar image">
            </div>
            <h3 class="my-3 font-weight-bold">
              <strong>Hola!</strong>
            </h3>

            
            <h6 class="font-weight-bold teal-text mb-4">Datos personales</h6>


        

            <!-- <p class="mt-5">Datos de perfil etc etc etc..................................... </p> -->
    

            <div class="col-18 my-3">

                  <!-- Nav tabs -->
                  <div class="nav nav-tabs md-tabs">
                      
                      <ul class="nav tabs-cyan" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#panel36" role="tab">
                                <i class="fas fa-user"></i> Perfil</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel37" role="tab">
                                <i class="fas fa-map-marker-alt"></i> Domicilio</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel38" role="tab">
                                <i class="fas fa-id-card"></i> Contactos</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel39" role="tab">
                                <i class="fas fa-money-check-alt"></i> Datos bancarios</a>
                          </li>
                      </ul>
                  </div>
                  <!-- Tab panels -->
                  <div class="tab-content card">
                      <!--Panel 1-->
                      <div class="tab-pane fade in show active" id="panel36" role="tabpanel">
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form">
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1" class="active">Nombre (s)</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form form-sm">
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2" class="active">Apellido paterno</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form">
                                    <input type="text" id="form3" class="form-control">
                                    <label for="form3" class="active">Apellido materno</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                        </div>
            
                        <div class="row">
            
                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form">
                                    <input type="text" id="form4" class="form-control">
                                    <label for="form4" class="active">Telefono</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form form-sm">
                                    <input placeholder="ejemplo@dominio.com" type="text" id="form5" class="form-control">
                                    <label for="form5" class="active">Correo</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                            <!--Grid column-->
                            <div class="col-md-4 mb-4">
              
                                <div class="md-form">
                                    <input type="text" id="form6" class="form-control">
                                    <label for="form6" class="active">Apellido materno</label>
                                </div>
              
                            </div>
                            <!--Grid column-->
              
                        </div>
                      </div>
                      <!--/.Panel 1-->
                      <!--Panel 2-->
                      <div class="tab-pane fade" id="panel37" role="tabpanel">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                              reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                              ratione porro voluptate odit minima.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                              reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                              ratione porro voluptate odit minima.</p>
                      </div>
                      <!--/.Panel 2-->
                      <!--Panel 3-->
                      <div class="tab-pane fade" id="panel38" role="tabpanel">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                              reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                              ratione porro voluptate odit minima.</p>
                      </div>
                      <!--/.Panel 3-->
                      <!--Panel 4-->
                      <div class="tab-pane fade" id="panel39" role="tabpanel">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                              reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                              ratione porro voluptate odit minima.</p>
                      </div>
                      <!--/.Panel 4-->
                  </div>

                

              </div>


            <!-- TABTABTABTATABTABTABTAB -->



            
            




          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Team v.1-->

      <!--Section: Tabs-->
      <section>

        <ul class="nav md-pills pills-default d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel11" role="tab">
              <strong>Work</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">
              <strong>My team</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">
              <strong>Portfolio</strong>
            </a>
          </li>
        </ul>

       