<div>
    <mdb-card>
        <mdb-card-body>
            <h2 class="h2-responsive">
                Datos Generales
            </h2>
        </mdb-card-body>
    </mdb-card>
    <br>
    <form>
        <mdb-card>
            <mdb-card-body>
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Sexo</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="date" id="form1" class="form-control">
                            <label for="form1" class="">Fecha de nacimiento</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="number" id="form1" class="form-control">
                            <label for="form1" class="">Edad</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Nacionalidad</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="number" id="form1" class="form-control">
                            <label for="form1" class="">N. de dependientes</label>
                        </div>
                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>
        
        <br>

        <mdb-card>
            <mdb-card-body>
                <h2 class="h4-responsive">
                    Empresa
                </h2>
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Empresa</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Domicilio</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Tipo de domicilio</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Email de la empresa</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Telefono de la empresa</label>
                        </div>
                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>
        
        <br>

        <mdb-card>
            <mdb-card-body>
                <h2 class="h4-responsive">
                    Propiedades
                </h2>
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Dirección</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="number" id="form1" class="form-control" placeholder="(Especificado en años)">
                            <label for="form1" class="">Residencia en domicilio</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="number" id="form1" class="form-control" placeholder="(Especificado en años)">
                            <label for="form1" class="">Residencia en la ciudad</label>
                        </div>
                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>

        <br>

        <mdb-card>
            <mdb-card-body>
                <h2 class="h4-responsive">
                    Beneficiario
                </h2>
                <div class="row">
                    <div class="col-md-1">
                        <div class="md-form">
                            <label for="form1" class="">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Nombre</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control" >
                            <label for="form1" class="">Dirección</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control" >
                            <label for="form1" class="">Telefono</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="md-form">
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control">
                            <label for="form1" class="">Email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control" >
                            <label for="form1" class="">Estado Civil</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input mdbInput type="number" id="form1" class="form-control" value="100">
                            <label for="form1" class="">Porcentaje de beneficio %</label>
                        </div>
                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>
    </form>
</div>