<div class="container">
  <div class="row justify-content-md-center mt-5">
      <div class="col col-md-6 col-xs 8">
          <!-- Default form login -->
          <form
              (ngSubmit)="onSubmit(f)" 
              #f="ngForm"
              class="text-center border border-light p-5">

              <p class="h4 mb-4">Solicitar Prestamo</p>
          
              <!-- Email -->
              <input 
                  name="email"
                  type="email" 
                  id="defaultLoginFormEmail" 
                  class="form-control mb-4" 
                  placeholder="Correo electrónico"
                  [(ngModel)]="user.email">
              <div class="d-flex justify-content-around">
              <div>
  
    
              </div>
              </div>
          
          
          </form>
          <!-- Default form login -->
      </div>
  </div>
</div>