.logoStyle{
    display: block;
    width: 100px;
    height: 61px;
    color: 
    transparent;
    font: 0/0 ;
    text-shadow: none;
}

.logoStyleFooter{
    display: block;
    width: 231px;
    height: 140px;
    color: 
    transparent;
    font: 0/0 ;
    text-shadow: black;
}

.footerstyle{
    display: flex;
    background: url('../assets/footerbg.png') no-repeat;
    background-size: 100% 100%;
    width: auto;
    color: white;
    height: auto;
  }
.footercontent{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}

.copyBg{
    background-color: #00434B;
    
}
.borderSocials{
    border-top: 1px solid #66D298;
}

.panelStyle{
    display: block;
    width: 60px;
    height: 60px;
    color: 
    transparent;
    font: 0/0 ;
    text-shadow: none;
    margin-left: auto;
    margin-right: auto;
}
.btnprestamoStyle{
    display: block;
    width: 100px;
    height: 68px;
    color: 
    transparent;
    font: 0/0 ;
    text-shadow: none;
}
.nav-link{
    cursor: pointer;
}