<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark transparent" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['']" routerLinkActive="active" ><img src="../assets/logo.png" class="logoStyle"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links class="navElements">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <b class="nav-link waves-light" mdbWavesEffect 
        [routerLink]="['home']" routerLinkActive="active">
        <a>Home</a>
          <span class="sr-only">(current)</span>
      </b>
      </li>
    </ul>
    <!-- Links -->

    <ul  *ngIf="islog()" class="navbar-nav ml-auto nav-flex-icons">
      <li  class="nav-item">
        <b class="nav-link waves-light" mdbWavesEffect
        [routerLink]="['ingresar']" routerLinkActive="active" >
        <a>Ingresar</a>
      </b>
      </li>
      <li class="nav-item">
        <b class="nav-link waves-light" mdbWavesEffect
        [routerLink]="['registrarme']" routerLinkActive="active" >
        <a>¡Registrate!</a>
      </b>
      </li>
    </ul>

    <ul  *ngIf="!islog()" class="navbar-nav ml-auto nav-flex-icons">
      <li  class="nav-item">
        <b class="nav-link " 
        [routerLink]="['panel']" routerLinkActive="inactive" #rla="routerLinkActive" >
        <img src="{{rla.isActive ? '../../../assets/icons/useractive.png' : '../../../assets/icons/userinactive.png'}}" class="panelStyle"/>
        <a (click)="logout()">Cerrar sesion</a> 
      </b>
      </li>
      
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container-fluid" style="margin-top: 150px" >
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer class="page-footer font-small footerstyle ">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
          <img src="../assets/logo.png" class="logoStyleFooter">
          </a>
       
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->

 <!-- Copyright -->
 <div class="copyBg">
   <!-- Grid column -->
   <div class="col-md-12 py-5 borderSocials">
    <div class="mb-5 flex-center">

      <!-- Facebook -->
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Instagram-->
      <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Pinterest-->
      <a class="pin-ic">
        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
      </a>
    </div>
  </div>
  <!-- Grid column -->
</div>
<!-- Copyright -->