<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark transparent" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['']" routerLinkActive="active" ><img src="../assets/logo.png" class="logoStyle"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link waves-light" mdbWavesEffect 
        [routerLink]="['home']" routerLinkActive="active">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect
        [routerLink]="['login']" routerLinkActive="active" >
          Ingresar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect
        [routerLink]="['user-profile']" routerLinkActive="active" >
          Perfil
        </a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/user-profile']" routerLinkActive="active" >
          <mdb-icon fas icon="user"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container-fluid mt-3" >
  <router-outlet></router-outlet>
</div>
