<div>
    <div class="row">
        <div class="col-md-2">
            <mdb-card>
                <mdb-card-body>
                    <ul class="list-group">
                        <li class="list-group-item" [routerLink]="['/usuario/perfil']">
                            Datos Personales
                        </li>
                        <li class="list-group-item">
                            Datos Generales
                        </li>
                        <li class="list-group-item">
                            Situación Laboral
                        </li>
                        <li class="list-group-item">
                            Mis Préstamos
                        </li>
                    </ul>
                </mdb-card-body>
            </mdb-card>
        </div>
        <br>
        <div class="col-md-10">

            <mdb-card>
                <mdb-card-body>
                    <h2 class="h2-responsive">Datos Generales</h2>
                </mdb-card-body>
            </mdb-card>

            <br>

            <form>
                
                <mdb-card>
                    <mdb-card-body>
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Sexo</label>
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="date" id="form1" class="form-control">
                                    <label for="form1" class="">Fecha de nacimiento</label>
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="number" id="form1" class="form-control">
                                    <label for="form1" class="">Edad</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Nacionalidad</label>
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="number" id="form1" class="form-control">
                                    <label for="form1" class="">N. de dependientes</label>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>


                <br>

                <mdb-card>
                    <mdb-card-body>
                        <h2 class="h3-responsive">Empresa</h2>

                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Empresa</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Domicilio de la empresa</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Tipo de domicilio</label>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>

                <br>

                <mdb-card>
                    <mdb-card-body>
                        <h2 class="h3-responsive">Propiedades</h2>

                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Domicilio</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="number" id="form1" class="form-control">
                                    <label for="form1" class="">Años de arraigo en el domicilio</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="number" id="form1" class="form-control">
                                    <label for="form1" class="">Años de residente en la ciudad</label>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>

                <br>

                <mdb-card>
                    <mdb-card-body>
                        <h2 class="h3-responsive">Beneficiarios</h2>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <label for="form1" class="">1.</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Nombre</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Dirección</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Tel.</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <label for="form1" class="">2.</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Nombre</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Dirección</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Tel.</label>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>

                <div class="fixed-bottom">
                    <button mdbBtn color="default" class="mr-4 my-4 float-right" type="submit">
                        <mdb-icon fas icon="save" class="mr-1"></mdb-icon>
                        Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

