<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-md-6 col-xs 8">
            <!-- Default form login -->
            <form
                (ngSubmit)="onSubmit(f)" 
                #f="ngForm"
                class="text-center border border-light p-5">

                <p class="h4 mb-4">Crear nuevo usuario</p>
            
                <!-- Email -->
                <input 
                    name="email"
                    type="email" 
                    id="defaultLoginFormEmail" 
                    class="form-control mb-4" 
                    placeholder="Correo electrónico"
                    [(ngModel)]="user.email">
            
                <!-- Password -->
                <input 
                    name="password"
                    type="password" 
                    id="defaultLoginFormPassword" 
                    class="form-control mb-4" 
                    placeholder="Contraseña"
                    [(ngModel)]="user.password">
            
                <!-- Sign in button -->
                <button mdbBtn color="info" block="true" class="my-4" type="submit">Registrarme</button>
            
                <!-- Register -->
                <p>Ya tengo una cuenta
                <a routerLink="/ingresar">Ingresar</a>
                </p>
            
            </form>
            <!-- Default form login -->
        </div>
    </div>
</div>